.invalid {
  border-bottom-color: var(--error-color) !important;
  transition: all 0.3s;
}

.message-error {
  color: var(--error-color);
  margin-top: -2rem;
  display: block;
  margin-bottom: 2rem;
  line-height: 1.4;
  transition: all 0.3s;
}
